<!DOCTYPE html>
<html>
<head>
    <title>Sensor Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="dashboard">
        <h1>Plant Bot</h1>

        <div class="top-row">
            <div class="daily-column">
                <canvas id="tempDailyChart"></canvas>
                <canvas id="humiDailyChart"></canvas>
                <canvas id="soilDailyChart"></canvas>
            </div>

            <div class="gif-box">
                <div class="gif-frame">
                    <img src="{{ url_for('static', filename='plant_animation.gif') }}">
                </div>
            </div>
        </div>

        <hr>

        <div class="bottom-row">
            <div class="chart-box"><canvas id="tempChart"></canvas></div>
            <div class="chart-box"><canvas id="humiChart"></canvas></div>
            <div class="chart-box"><canvas id="soilChart"></canvas></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='charts.js') }}"></script>
</body>
</html>