<!DOCTYPE html>
<html>
<head>
    <title>Sensor Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Recent Data</h2>

    <div class="row">
        <div class="chart-box"><canvas id="tempChart"></canvas></div>
        <div class="chart-box"><canvas id="humiChart"></canvas></div>
        <div class="chart-box"><canvas id="soilChart"></canvas></div>
    </div>

    <script src="{{ url_for('static', filename='charts.js') }}"></script>
</body>
</html>