body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.dashboard {
    width: min(1200px, 95vw);
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

.top-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    width: 50vw;
    margin: 0 auto;
}

.daily-column {
    display: flex;
    flex-direction: column;
}

.gif-box img {
    background-color: rgb(79, 79, 79);
    width: 400px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    filter: contrast(1.4) brightness(1.1);
}

.gif-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-frame {
    position: relative;
    display: inline-block;
}

.gif-frame::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgb(39, 38, 38);

    mask-image: radial-gradient(circle 14px, transparent 98%, black 100%);
    mask-size: 8.3% 8.3%;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
    opacity: 0.4;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.chart-box {
    padding: 10px;
    border-radius: 10px;
}